@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="link-container">
        @Html.ActionLink("Find movie By Id", "Find", "Movie")&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Find movie By Year", "FindByYear", "Movie")&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("View All Movies", "List", "Movie")&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br />

    <div>

        @RenderBody()
    </div>
</body>
</html>